/* Green theme for specification docs */
:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-hue-accent: 158;
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 60%, 15%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 100%, 25%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 87%); /* lightest */
  --color-accent-mid: hsl(157, 100%, 32%);
  --color-accent-secondary: hsl(176, 92%, 25%);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  /* Colours (light mode) */
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 80%, 30%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 100%, 25%);
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 100%, 97%); /* lightest */
  --color-accent-mid: hsl(157, 100%, 32%);
  --color-accent-secondary: hsl(165, 90%, 78%);
}
