/* Shared styles for Starlight docs pages */
:root,
::backdrop {
  /* Text size and line height */
  /* @link https://utopia.fyi/type/calculator?c=300,16,1.125,1440,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.8153rem + -0.1343vi, 0.7901rem);
  --step--1: clamp(0.8333rem, 0.9035rem + -0.078vi, 0.8889rem);
  --step-0: clamp(1rem, 1rem + 0vi, 1rem);
  --step-1: clamp(1.125rem, 1.1053rem + 0.1053vi, 1.2rem);
  --step-2: clamp(1.2656rem, 1.2197rem + 0.2447vi, 1.44rem);
  --step-3: clamp(1.4238rem, 1.3438rem + 0.4269vi, 1.728rem);
  --step-4: clamp(1.6018rem, 1.4777rem + 0.6622vi, 2.0736rem);
  --step-5: clamp(1.802rem, 1.6214rem + 0.9632vi, 2.4883rem);
  --space-3xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vi, 0.5rem);
  --space-xs: clamp(0.75rem, 0.75rem + 0vi, 0.75rem);
  --space-s: clamp(1rem, 1rem + 0vi, 1rem);
  --space-m: clamp(1.5rem, 1.5rem + 0vi, 1.5rem);
  --space-l: clamp(2rem, 2rem + 0vi, 2rem);
  --space-xl: clamp(3rem, 3rem + 0vi, 3rem);
  --space-2xl: clamp(4rem, 4rem + 0vi, 4rem);
  --space-3xl: clamp(6rem, 6rem + 0vi, 6rem);

  --sl-text-body: var(--step-0);
  --sl-text-body-sm: var(--step--1);
  --sl-text-code: var(--step--1);
  --sl-text-code-sm: var(--step--1);
  --sl-text-h1: var(--step-3);
  --sl-text-h2: var(--step-2);
  --sl-text-h3: var(--step-1);
  --sl-text-h4: var(--step-1);
  --sl-text-h5: var(--step-1);

  --sl-line-height: 1.5;
  --sl-line-height-headings: 1.2;

  --sl-nav-pad-x: var(--space-s);

  --border-radius: 6px;
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  /* Colours (light mode) */
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 95%); /* lightest */
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 97%); /* lightest */
  --sl-color-purple-low: hsl(var(--sl-hue-purple), 80%, 96%); /* lightest */
  --sl-color-red-low: hsl(var(--sl-hue-red), 80%, 96%); /* lightest */
  --sl-color-green-low: hsl(var(--sl-hue-green), 85%, 96%); /* lightest */
}

[data-theme="dark"] .logo-text {
  fill: white;
}

:focus-visible {
  outline-color: var(--sl-color-accent);
  border-radius: var(--border-radius);
}

/* Main content area styles */
.main-frame {
  font-size: var(--sl-text-body);
}

.sl-container.sl-container {
  max-width: 100%;
}

@media (min-width: 72rem) and (max-width: 80rem) {
  [data-has-sidebar] .main-frame .main-pane {
    --sl-sidebar-width: 14rem;
    width: calc(100% - var(--sl-sidebar-width));
  }

  .main-frame .right-sidebar-container {
    --sl-sidebar-width: 14rem;
  }
}

/* Navigation sidebar styles */
.sidebar-content ul {
  --sl-sidebar-item-padding-inline: var(--space-s);
}

.sidebar-content li {
  margin: 0;
}

.sidebar-content a {
  padding-block: var(--space-2xs);
}

.sidebar-content summary {
  padding: var(--space-2xs) var(--sl-sidebar-item-padding-inline);
}

.sidebar-content [data-icon="external"]::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path stroke="hsl(221,8%,56%)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M11 1h6m0 0v6m0-6L7 11"/></svg>');
  height: 0.75em;
  width: 0.75em;
  display: inline-block;
}

.sidebar-content a[aria-current="page"],
.sidebar-content a[aria-current="page"]:hover,
.sidebar-content a[aria-current="page"]:focus {
  color: var(--sl-color-text-accent);
  background-color: var(--sl-color-accent-low);
  border-radius: 0;
}

@media (min-width: 50rem) {
  nav.sidebar .sidebar-pane {
    background-color: initial;
    border-inline-end: 0;
    z-index: 0;
  }

  .sidebar-content {
    padding: 0;
  }
}

@media (min-width: 50rem) and (max-width: 80rem) {
  nav.sidebar .sidebar-content {
    border-inline-end: 1px solid var(--sl-color-hairline-light);
  }
}

@media (min-width: 80em) {
  nav.sidebar {
    border-inline-end: 1px solid var(--sl-color-hairline-light);
  }
}

/* Sidebar badge style overrides */
:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  .sl-badge.default {
    --sl-color-bg-badge: var(--sl-color-accent-low);
    color: var(--sl-color-text-accent);
  }

  .sl-badge.danger {
    --sl-color-bg-badge: var(--sl-color-red-low);
    color: var(--sl-color-red-high);
  }

  .sl-badge.note {
    --sl-color-bg-badge: var(--sl-color-blue-low);
    color: var(--sl-color-blue-high);
  }

  .sl-badge.success {
    --sl-color-bg-badge: var(--sl-color-green-low);
    color: var(--sl-color-green-high);
  }

  .sl-badge.caution {
    --sl-color-bg-badge: var(--sl-color-orange-low);
    color: var(--sl-color-orange-high);
  }

  .sl-badge.tip {
    --sl-color-bg-badge: var(--sl-color-purple-low);
    color: var(--sl-color-purple-high);
  }
}

/* ToC right sidebar styles */
@media (min-width: 72rem) {
  .right-sidebar.right-sidebar {
    border-inline-start: 0;
  }

  .right-sidebar .right-sidebar-panel {
    border-inline-start: 1px solid var(--sl-color-gray-6);
    margin-block-start: var(--space-xs);
  }
}

.right-sidebar-panel starlight-toc h2 {
  font-size: var(--step-0);
}

.right-sidebar-panel starlight-toc a[aria-current="true"],
.right-sidebar-panel starlight-toc a[aria-current="true"]:hover,
.right-sidebar-panel starlight-toc a[aria-current="true"]:focus {
  color: var(--sl-color-text-accent);
  background-color: initial;
}

/* Very large screen size handling styles */
@media (min-width: 80rem) {
  .page {
    flex-direction: row;
    max-width: 95rem;
    margin-inline: auto;
  }

  div.header {
    max-width: 95rem;
    margin-inline: auto;
  }

  nav.sidebar .sidebar-pane {
    position: sticky;
    height: calc(100vh - var(--sl-nav-height));
  }

  div.main-frame {
    padding-inline-start: initial;
    flex: 1;
  }
}

/* Stylized title and headings */
@media screen and (min-width: 500px) {
  .sl-container > h1:first-of-type {
    width: max-content;
  }

  .sl-container > h1:first-of-type::after {
    background-color: var(--color-accent-highlight);
    height: 12px;
    top: -12px;
    z-index: -1;
    position: relative;
    display: block;
    width: calc(100% + 1em);
    content: "";
  }

  h3 {
    display: inline-block;
    position: relative;
    color: var(--sl-color-white);
  }

  h3::after {
    background-color: var(--color-accent-highlight);
    height: 8px;
    bottom: 0px;
    z-index: -1;
    position: absolute;
    display: block;
    width: calc(100% + 1em);
    content: "";
  }
}

/* Element spacing styles */
.sl-banner + .content-panel,
.content-panel:first-of-type {
  padding: var(--space-m) var(--space-l) 0 var(--space-l);
}

.content-panel + .content-panel {
  border-block-start: 0;
  padding: var(--space-m) var(--space-l);
}

.sl-markdown-content.sl-markdown-content
  :not(a, strong, em, del, span, label, input)
  + :not(a, strong, em, del, span, label, input, :where(.not-content *)) {
  margin-block-start: var(--space-s);
}

.sl-markdown-content.sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6)
  + :is(h1, h2, h3, h4, h5, h6, .heading):not(:where(.not-content *)) {
  margin-block-start: var(--space-m);
}

.sl-markdown-content.sl-markdown-content li > ul,
.sl-markdown-content.sl-markdown-content li > ol,
.sl-markdown-content.sl-markdown-content li + li:not(:where(.not-content *)) {
  margin-block-start: var(--space-2xs);
}

.sl-markdown-content.sl-markdown-content aside + div,
.sl-markdown-content.sl-markdown-content div + div {
  margin-block-start: var(--space-m);
}

/* Rounded corners and shadow flair */
table,
pre:not(.mermaid),
.starlight-aside,
.expressive-code {
  border-radius: var(--border-radius);
  box-shadow: var(--sl-shadow-sm);
}

code,
img {
  border-radius: var(--border-radius);
}

.img-outline {
  border: 2px solid var(--color-accent-transparent);
  box-shadow: var(--box-shadow);
}

.mermaid > svg {
  background-color: white;
  border-radius: var(--border-radius);
}

/* Aside style overrides */
aside.starlight-aside {
  padding: var(--space-xs) var(--space-s);
  border-inline-start: 0;
}

p.starlight-aside__title + section.starlight-aside__content {
  margin-block-start: var(--space-2xs);
}

/* Card style overrides */
article.card {
  border-radius: var(--border-radius);
  border-color: var(--color-accent-transparent);
  border-width: 2px;
  box-shadow: var(--box-shadow);
}

/* Tab style overrides */
starlight-tabs pre {
  box-shadow: none;
}

starlight-tabs .tab > [role="tab"] {
  color: var(--sl-color-accent);
  text-decoration: underline;
  padding-block-end: var(--space-3xs);
}

starlight-tabs .tab [role="tab"][aria-selected] {
  text-decoration: none;
}

[data-theme="dark"] starlight-tabs [role="tab"] {
  color: var(--sl-color-text);
}

/* Table style overrides */
.sl-markdown-content.sl-markdown-content table {
  display: table;
  width: 100%;
}

table code {
  word-break: break-all;
}

th {
  text-align: left;
}

thead tr:first-of-type th:first-of-type {
  border-start-start-radius: var(--border-radius);
}

thead tr:first-of-type th:last-of-type {
  border-start-end-radius: var(--border-radius);
}

.sl-markdown-content
  thead
  + tbody
  tr:nth-child(2n):not(:where(.not-content *)) {
  background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
}

.sl-markdown-content
  thead
  + tbody
  tr:nth-child(2n + 1):not(:where(.not-content *)) {
  background-color: initial;
}

.sl-markdown-content tr:nth-child(2n):not(:where(.not-content *)) {
  background-color: initial;
}

.sl-markdown-content tr:nth-child(2n + 1):not(:where(.not-content *)) {
  background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
  border: 0;
  padding: var(--space-2xs) var(--space-xs);
}

.sl-markdown-content
  tbody
  tr:first-of-type:not(:where(.not-content *))
  th:first-child,
.sl-markdown-content
  tbody
  tr:first-of-type:not(:where(.not-content *))
  td:first-child {
  border-start-start-radius: var(--border-radius);
}

.sl-markdown-content
  tbody
  tr:first-of-type:not(:where(.not-content *))
  th:last-child,
.sl-markdown-content
  tbody
  tr:first-of-type:not(:where(.not-content *))
  td:last-child {
  border-start-end-radius: var(--border-radius);
}

.sl-markdown-content
  tbody
  tr:last-of-type:not(:where(.not-content *))
  th:first-child,
.sl-markdown-content
  tbody
  tr:last-of-type:not(:where(.not-content *))
  td:first-child {
  border-end-start-radius: var(--border-radius);
}

.sl-markdown-content
  tbody
  tr:last-of-type:not(:where(.not-content *))
  th:last-child,
.sl-markdown-content
  tbody
  tr:last-of-type:not(:where(.not-content *))
  td:last-child {
  border-end-end-radius: var(--border-radius);
}

.sl-markdown-content.sl-markdown-content pre:not(:where(.not-content *)) {
  padding: var(--space-xs);
}

/* Pagination override styles */
.pagination-links {
  border-block-start: 1px solid var(--sl-color-gray-6);
}

.pagination-links a {
  border: 0;
  box-shadow: initial;
  border-radius: var(--border-radius);
}

.pagination-links a > span {
  color: var(--sl-color-text-accent);
  font-size: var(--sl-text-body-sm);
  font-weight: 600;
}

.pagination-links a .link-title {
  font-size: var(--sl-text-body);
  font-weight: 400;
  transition: color 200ms ease-out;
}

.pagination-links a:hover .link-title,
.pagination-links a:focus .link-title {
  color: var(--sl-color-text-accent);
  text-decoration: underline;
}

/* CodeBlock overrides */
.sl-markdown-content .expressive-code .ec-line {
  margin-block-start: initial;
}

.codeblock .expressive-code figure.frame {
  margin-block-start: initial;
}

pre.astro-code {
  border: 0;
}

/* Input styles */
label {
  font-size: var(--sl-text-body-sm);
}

input:not([type="submit"]):not([type="file"]):not(.pagefind-ui__search-input) {
  border: 1px solid var(--sl-color-accent);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--border-radius);
  margin-block-start: var(--space-3xs);
  font-size: var(--sl-text-body);
}

input:not([type="submit"]):not([type="file"]):focus {
  background-color: var(--sl-color-accent-low);
}

::placeholder {
  color: var(--sl-color-accent-high);
  opacity: 0.6;
}

/* Misc tweaks, overrides and fixes */
.sl-markdown-content button[aria-expanded="false"] + div {
  margin-block-start: 0;
}

.sl-markdown-content :is(iframe):not(:where(.not-content *)) {
  aspect-ratio: 16 / 9;
}

@media screen and (min-width: 72rem) {
  .astro-code {
    max-width: 48rem;
  }
}

@media screen and (min-width: 80rem) {
  .expressive-code {
    max-width: 48rem;
  }
}

/* Footnote styles */
.footnotes.footnotes.footnotes {
  margin-block-start: var(--space-l);
}

.footnotes {
  border-block-start: 1px dashed var(--sl-color-gray-6);
}

.footnotes {
  ol {
    padding-inline-start: 1.2rem;
    font-size: var(--step--1);
  }
}

/* MathJax styles */
.MathJax {
  display: inline-block;
  vertical-align: middle;
}
