/* Orange theme for product docs */
:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-hue-accent: 11;
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 55%, 12%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 98%, 41%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 87%); /* lightest */
  --color-accent-highlight: var(--sl-color-accent);
  --color-accent-transparent: hsla(var(--sl-hue-accent), 100%, 87%, 0.8);
  --box-shadow: var(--sl-shadow-sm);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  /* Colours (light mode) */
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 29%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 98%, 41%);
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 100%, 97%); /* lightest */
  --color-accent-highlight: hsl(27, 100%, 80%);
  --color-accent-transparent: hsla(27, 100%, 80%, 0.5);
  --box-shadow: 0px 1px 1px hsla(27, 100%, 80%, 0.15),
    1px 2px 2px hsla(27, 100%, 80%, 0.15);
}
