/* Teal theme for specification docs */
:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-hue-accent: 180;
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 60%, 15%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 100%, 23%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 87%); /* lightest */
  --color-accent-highlight: hsl(176, 92%, 25%);
  --color-accent-transparent: hsla(176, 92%, 25%, 0.7);
  --box-shadow: var(--sl-shadow-sm);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  /* Colours (light mode) */
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 19%); /* darkest */
  --sl-color-accent: hsl(var(--sl-hue-accent), 100%, 23%);
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 100%, 97%); /* lightest */
  --color-accent-highlight: hsl(165, 90%, 78%);
  --color-accent-transparent: hsla(var(--sl-hue-accent), 100%, 23%, 0.3);
  --box-shadow: 0px 1px 1px hsla(var(--sl-hue-accent), 100%, 23%, 0.1),
    1px 2px 2px hsla(var(--sl-hue-accent), 100%, 23%, 0.1);
}
