name: Lint

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.astro'
      - '**/*.ts'
      - '**/*.tsx'
      - '**/*.js'
      - '**/*.md'
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/lint.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Lint and check formatting
        run: npm run lint
